<div class="container">
  <div class="row">
    <%= render 'side-bar', book: @book %>

    <div class="col-md-8">
      <h1>Books</h1>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th style="width:17%;"></th>
            <th style="width:30%">Title</th>
            <th>Opinion</th>
            <th class="colspan-3"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td style="width:100px;height:100px;">
                <%= image_tag 'no_image.jpg' %>
              </td>
              <td>
                <%= book.title %>
              </td>
              <td>
                <%= book.body %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>